manifest {
  author = 'Angel Angelov'
  name = 'nxf-ont'
  description = 'A nextflow pipeline for processing raw Nanopore data'
  homePage = 'https://github.com/angelovangel/nxf-ont'
  nextflowVersion = '>=19.08'
}



profiles {
  docker {
    process.container = 'aangeloo/ont-guppy:4.0.14'
    docker.enabled = true
  }
}

process {
  withName:guppy_basecaller {
    container = 'aangeloo/ont-guppy:4.0.14'
  }
  withName:porechop {
    container = 'mkzhouy1/poretools:v1'
  }
}
