manifest {
  author = 'Angel Angelov'
  name = 'nxf-ont'
  description = 'A nextflow pipeline for processing raw Nanopore data'
  homePage = 'https://github.com/angelovangel/nxf-ont'
  nextflowVersion = '>=19.08'

  /* 
  * pipeline input parameters 
  */
}

params {
  //Options: mandatory
  input = false
  outdir = './results'
  csv = false
  cpus = 4

  // Options: guppy basecalling & demultiplexing
  flowcell = false
  kit = false
  barcode_kits = false
  skip_basecalling = false
  skip_demultiplexing = false
  cpu_threads_per_caller = false
  num_callers = 1
  config = false
  trim_barcodes = false

  // Options: adaper trimming
  skip_porechop = false

  // Options: other
  help = false
}


profiles {
  docker {
    docker.enabled = true
  }
  test { includeConfig 'test.config' }
}

process.container = 'mkzhouy1/nxf-ont:1.1'

process {
  withName:guppy_basecaller {
    container = 'aangeloo/ont-guppy:4.0.14'
  }
  withName:guppy_barcoder {
    container = 'aangeloo/ont-guppy:4.0.14'
  }
}
