// minimal test dataset with parameters for running the pipeline in test mode
// the data are from a barcoded run (LSK109 with NBD104) on a PromethION (FLO-PRO001)
 
params {
  //Options: mandatory
  input = 'https://github.com/ncct-mibi/test-datasets/tree/nxf-ont'
  outdir = './test-results'
  csv = false
  cpus = 4
  config = 'dna_r9.4.1_450bps_fast_prom.cfg'

  // Options: guppy basecalling & demultiplexing
  flowcell = false //FLO-PRO001
  kit = false  //SQK-LSK109
  barcode_kits = 'EXP-NBD104'
  skip_basecalling = false
  skip_demultiplexing = false
  cpu_threads_per_caller = false
  num_callers = 1
  //config = false
  trim_barcodes = false

  // Options: adaper trimming
  skip_porechop = false

  // Options: other
  help = false
}
